// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
// resources/sass/app.scss

@import '@fortawesome/fontawesome-free/css/all.css';


// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body{
    background-color:#2f2f2f;
}
.createForm{
    background-color: #02996c;
    color: rgb(0, 0, 0);
    width: 70%;
    margin: auto;
    padding: 40px;
    border-radius: 30px;
}

.description{
    word-wrap: break-word;  
}
.bottomContent{
    width: 110%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10px;
}
.bootomRating{
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

.rating {
    display: flex;
    flex-direction: row-reverse; 
    margin: 0;
   
}
.rating2{
    margin-top: 12px;
    margin-right: 5px;
}
.yourRating{
    margin: 0;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 120%;
}
.rating label {
    cursor: pointer;
}
.addPlus{
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #182338;
    color: white; 
    margin: 15px 0 0 10px;
}

.rating input {
    display: none;
}

.rating label i.fa-star {
    color: #ccc;
}

.rating input:checked ~ label i.fa-star,
.rating label:hover i.fa-star {
    color: #ffc107;
}

.rating input:checked ~ label:hover ~ label i.fa-star {
    color: #ccc; 
}


.bootomRating2{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  
    margin-bottom: 50px;
}


.serachBar{
    
    width: 30%;
    display: flex;
    flex-direction: row;
    color: #000000;
}
.serachBar input{
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    height: 40px;
    background-color: #02996c;
    color: #000000;
    
}
.serachBar input::placeholder{
    color: #000000;
    
}
.serachBar button{
    margin-left: 20px;
    color: #101010;
    background-color: #02996c;
}
.serachBar button:hover{

    color: #02996c;
    background-color: #000000;
}
.serachDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.paginator{
    display: flex;
    justify-content: center;
}
.adminTab{
    width: 45%;
    margin: auto;
}
.userList{
    width: 40%;
    text-align: center;
    margin: auto;
}
.mypodcastUser{
    color: #02996c;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 40px;
}
.image-container {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 60%;   
    width: 100%;     
}
.image-container img {
    width: auto; 
    height: auto; 
    max-width: 40%; 
    max-height: 40%; 
}
    
.editContent{
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 40%;
    flex-direction: row;

}

.delButton{
    padding: 2px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #02996c;
    text-align: center;
    transition: 0.4s ease-in-out;
    text-align: center;
    justify-content: center;
    width: 40%;
}
.delButton:hover{
    background-color: white;
    color: #02996c;
}
.delButton button{
    background-color: black;
    color: #02996c;
    border: none;
    transition: 0.4s ease-in-out;
}
.delButton:hover button{
    background-color: white;
    color: #02996c;
}